.header {

}

.header_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_text {

}
.header_title {
    margin-bottom: 25px;
    font-size: 54px;
    font-weight: 700;
    line-height: 1.46;
}
.header_img {

}